@page
@model StockViewer.Pages.StockViewerModel
@{
    ViewData["Title"] = "StockViewer";
}


<h1>Stock Viewer</h1>
<p>Use this tool to visualize one of the popular stocks from the drop down menu. Prices are extracted from <a href="https://uk.finance.yahoo.com/" target="_blank">Yahoo Finance</a>.</p>

<div class="row">
    <div class="col-md-4">
        <form class="form-group" method="post">
            <div class="form-group">
                <label asp-for="Yh.Ticker">Stock: </label>
                <select class="form-control" asp-for="Yh.Ticker" asp-items="Model.Tickers" style="font-size: 0.8rem"></select>
            </div>
            <div class="form-group">
                <label>Period:</label>
                <div class="input-group input-daterange" data-provide="datepicker">
                    <input asp-for="Yh.DateFrom" class="form-control" type="text" placeholder="Start Date" style="text-align:left; font-size: 0.8rem"/>
                    <div class="input-group-addon">
                        <text style="padding:6px 5px">to</text>
                    </div>
                    <input asp-for="Yh.DateTo" class="form-control" type="text" placeholder="End Date" style="text-align:left; font-size: 0.8rem" />
                </div>
                <span asp-validation-for="Yh.DateFrom" class="text-danger"></span>
                <span asp-validation-for="Yh.DateTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yh.TimeFrame">Granularity</label>
                <select class="form-control" asp-for="Yh.TimeFrame" asp-items="Model.Periods" style="font-size: 0.8rem"></select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Display Stock</button>
            </div>

            @*debug*@
            @*<p>Selection: @Model.Yh.Ticker</p>
            <p>Start Date: @Model.Yh.DateFrom</p>
            <p>End Date: @Model.Yh.DateTo</p>
            <p>Granularity: @Model.Yh.TimeFrame</p>
            <div id="tabel">
                <p>@Model._prices.Count candles in specified range</p>
                <p>Ticker: @Model._prices[0].Ticker</p>
                <p>First date: @Model._prices[0].Date</p>
                <p>First open: @Model._prices[0].Open</p>
                <p>First high: @Model._prices[0].High</p>
                <p>First low: @Model._prices[0].Low</p>
                <p>First close: @Model._prices[0].Close</p>
            </div>*@

        </form>
    </div>

    <div class="col-md-8">
        <div id="container" style="height: 400px; min-width: 310px;">
            <p>chart will go here</p>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/lib/bootstrap/dist/js/bootstrap-datepicker.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap-datepicker3.standalone.css" rel="stylesheet" />

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

    @*<script>
            $.fn.datepicker.defaults.format = "dd/mm/yyyy";
        </script>*@

    <script>
        $('.input-daterange input').each(function () {
            $(this).datepicker('clearDates');
        });
    </script>

    <script>
        $.getJSON('/aapl-ohlc.json', function (data) {

            // create the chart
            Highcharts.stockChart('container',
                {
                    rangeSelector:
                    {
                        selected: 2
                    },
                    title:
                    {
                        text: '@Model.Yh.Ticker - @Model.Yh.TimeFrame'
                    },
                    series:
                        [
                            {
                                type: 'candlestick',
                                name: '@Model.Yh.Ticker Stock Price',
                                data: @Model.ChartSeriesData,
                                dataGrouping:
                                {
                                    units:
                                        [
                                            [
                                                'week', // unit name
                                                [1] // allowed multiples
                                            ],
                                            //[
                                            //    'month',
                                            //    [1, 2, 3, 4, 6]
                                            //]
                                        ]
                                }
                            }]
                });
        });

    </script>
}


